<!DOCTYPE html>
<html>
  <head>
    <title>FundLauncher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    
    <% if current_user  %>
      <h3>Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Sign in with Google", "/auth/google" %>
    <% end %>
    <%= yield %>
  </body>
</html>
