<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FundLauncher</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <style> body {font-family: 'Work Sans', sans-serif;} </style>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'FundLauncher', root_path %></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">Start a New Funding Round</a></li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="search">
            <%= form_tag(search_startups_path, method: :get) do %>
            <%= submit_tag "Search", class: "radius button", :name => nil %>
            <%= search_field_tag :search, params[:search], placeholder: "Search Projects", required: "required"%>
            <% end %>
          </li>

          <li><%- if current_user -%></li>
          <ul class="nav_pic">
            <li><% unless current_user.image.nil? %></li>
            <div id="profile-photo-container">
              <li class="nav-profile" id="profile-photo"><%= image_tag current_user.image, { size: "50x80" } %></li>
            </div>
            <li><% end %></li>
          </ul>
          <li><% end %></li>


          <li class="login">
            <a href='#' data-reveal-id="firstModal" class="icon" style="float: right;">&#9776;</a>
            <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
              <h2 id="firstModalTitle">Welcome to FundLauncher!</h2>
              <% if current_user  %>
              <h3><%= "#{current_user.first_name} #{current_user.last_name} " %></h3>
              <ul><% unless current_user.image.nil? %></ul>
                  <div id="profile-photo-container">
                    <ul id="profile-photo"><%= image_tag current_user.image %></ul>
                  </div>
              <ul><% end %></ul>
              <%= link_to "Logout", logout_path %>
              <% else %>
              <%= link_to "Sign in with Google", "/auth/google" %>
              <% end %>
              <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
          </li>
        </ul>
      </section>
        <% if flash.any? %>

        <div class="flash">
          <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "callout #{name}" %>
          <% end %>
        </div>
        <% end %>

    </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <br>
  </body>
</html>
